# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
.venv/
env/
ENV/
env.bak/

# Data & Results (große Daten/Output rauslassen!)
# data/
# analysis_results/
# results/
# *.csv
# *.parquet

# IDEs/Editoren
.vscode/
.idea/
.DS_Store

# Sonstiges
*.log
*.pdf
*.xlsx
*.png
*.html
