numpy<2.0
pandas>=2.0
scipy
matplotlib
plotly
dash
dash-bootstrap-components
flask

# Trading & Analyse (ohne ta-lib)
pandas-ta
yfinance
vectorbt

# PDF/Reporting
fpdf2
openpyxl
xlsxwriter

# Tests
pytest
pytest-dash
